<div class="header">
   <a href="/login" class="login"><button>Log In</button></a> 
</div>

<style>
    .header {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: black;
        padding: 8px 0;
    }

</style>