---
const authenticated = !!Astro.locals.user
---

<div class="header">
    <div class="header-inner">
        {authenticated 
            ? <a href="/auth/logout" class="login"><button>Log Out</button></a> 
            : <a href="/auth/login" class="logout"><button>Log In</button></a>
        }
    </div>
</div>

<style>
    .header {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: black;
    }
    .header-inner {
        margin: 10px;
    }
</style>